@media (min-width: 40em){
  body {
    grid-template-columns: 12em 1fr;
    grid-template-rows: auto 1fr auto;
    background-image: url(file:///Users/violakempa/Desktop/SE/second%20semester/project%20foundations/pictures/yuriy-kovalev-nN1HSDtKdlw-unsplash.jpg);
    background-color: rgb(201, 231, 255);
  }

  header {
    grid-column: span 2;
  }

  nav {
    grid-row: span 2;
  }
}

h1, h3 {
  text-align: center;
  color: #2b83e2;
}

.div1 {
  background-color: rgb(228, 243, 255);
  width: 600px;
  border: 3px solid black;
  border-radius: 20px;
  padding: 50px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 100px);
  gap: 10px;
}


.div2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  background-color: rgb(228, 243, 255);
  width: 700px;
  border: 3px solid black;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}



.div2>section.icons {
  flex: 1;
  box-sizing: border-box;
  padding: 20px;
}

.div2>section.icons {
  margin-top: 12px;
  margin-bottom: 12px;
}

.div2>section {
  word-wrap: break-word;
}

ul {
  display: block;
  list-style: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  background-color: rgb(228, 243, 255);
  width: 700px;
  border: 3px solid black;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}