/* all screen sizes */
header {
  background-color: grey;
  color: white;
  padding: 20px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

footer {
  background-color: darkgrey;
  color: white;
  padding: 20px;
}

/* tablets */
@media (max-width: 1024px) {
  main {
    max-width: 600px;
    padding: 10px;
  }
}

/* mobile */
@media (max-width: 600px) {
  header, footer {
    padding: 10px;
  }

  main {
    max-width: 400px;
    padding: 10px;
  }
}


h1 {
  text-align: center;
  color: #2b83e2;
}

h3 {
  text-align: center;
  color: #2b83e2;
}

.div1 {
  background-color: lightgrey;
  width: 700px;
  border: 3px solid black;
  border-radius: 20px;
  padding: 50px;
  margin: 0 auto;
}


.div2 {
  background-color: lightgrey;
  width: 700px;
  border: 3px solid black;
  border-radius: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.div2 {
  display: flex;
  width: 100%;
  overflow: auto;
}

.div2>section.icons {
  flex: 1;
  box-sizing: border-box
  padding: 20px;
}

.div2>section.icons {
  margin-top: 12px;
  margin-bottom: 12px;
}

.div2>section {
  word-wrap: break-word;
}

ul {
  display: block;
  list-style: none;
}

.container {
  border: 1px solid black;
  padding: 10px;
  background-color: #f2f2f2;
  width: 300px;
}
