{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel='stylesheet' href='../static/css/style.css'>
    {% block title %}to do{% endblock%}
{% endblock %}
{% block body %}

<h1>Stuff to do</h1>

    <ul align="center" list-style="none" class="to do">
        {% for slug, to do in todo.items() %}
        <li>
            <s>{{ to do['task']}}, {{to do['status']}}</s>
        </li>
        {% endfor %}
    </ul>

    <nav>
        <button><a href="/"> go back </a></button>
    </nav>

{% endblock %}